In [1]:
from IPython.display import display, HTML

from optimizer import Optimizer

%load_ext autoreload
%autoreload 2

In [2]:
def run(spec):

    opt = Optimizer(**spec)
    print("Status: {}".format(opt.solve()))
    schedule = opt.get_schedule()
    engine_costs = opt.get_engine_costs()
    engine_costs_sums = engine_costs.sum()
    print("Total penalty cost before maintenance: {}".format(engine_costs_sums['before_maintenance_cost']))
    print("Total cost saved by maintenance: {}".format(engine_costs_sums['cost_saved']))
    print("Total penalty cost after maintenance: {}".format(engine_costs_sums['final_engine_cost']))
    print("Percentage of cost saved: {:.2f}%".format(engine_costs_sums['cost_saved'] * 100 / engine_costs_sums['before_maintenance_cost']))

    # write outputs to notebook
    print("------------")
    print("SCHEDULE:")
    display(HTML(schedule.to_html()))
    print("------------")
    print("ENGINE COSTS:")
    display(HTML(engine_costs.to_html()))

# Optimization Task 1

## Part B

In [3]:
spec_1b = {
    'time_horizon': 25,
    'rul_filename': 'OT1/RUL_predictions.xlsx',
    'work_time_filename': 'OT1/working_time.csv',
    'teams_filename': 'OT1/teams.csv',
    'cost_filename': 'OT1/costs.csv'
}
run(spec_1b)

Status: Optimal
Total penalty cost before maintenance: 984.0
Total cost saved by maintenance: 970.0
Total penalty cost after maintenance: 14.0
Percentage of cost saved: 98.58%
------------
SCHEDULE:

------------
ENGINE COSTS:

## Part C

In [4]:
spec_1c = {
    'time_horizon': 25,
    'rul_filename': 'OT1/RUL_consultancy_predictions.xlsx',
    'work_time_filename': 'OT1/working_time.csv',
    'teams_filename': 'OT1/teams.csv',
    'cost_filename': 'OT1/costs.csv'
}

run(spec_1c)

Status: Optimal
Total penalty cost before maintenance: 1037.0
Total cost saved by maintenance: 991.0
Total penalty cost after maintenance: 46.0
Percentage of cost saved: 95.56%
------------
SCHEDULE:

------------
ENGINE COSTS:

## Part D

### (a) with predicted RULs

In [5]:
spec_1d_a = {
        'time_horizon': 40,
        'rul_filename': 'OT1/RUL_predictions.xlsx',
        'work_time_filename': 'OT1/working_time.csv',
        'teams_filename': 'OT1/teams.csv',
        'cost_filename': 'OT1/costs.csv'
    }
run(spec_1d_a)

Status: Optimal
Total penalty cost before maintenance: 3042.0
Total cost saved by maintenance: 2985.0
Total penalty cost after maintenance: 57.0
Percentage of cost saved: 98.13%
------------
SCHEDULE:

------------
ENGINE COSTS:

### (b) with consultant's RUL

In [6]:
spec_1d_b = {
        'time_horizon': 40,
        'rul_filename': 'OT1/RUL_consultancy_predictions.xlsx',
        'work_time_filename': 'OT1/working_time.csv',
        'teams_filename': 'OT1/teams.csv',
        'cost_filename': 'OT1/costs.csv'
    }
run(spec_1d_b)

Status: Optimal
Total penalty cost before maintenance: 3166.0
Total cost saved by maintenance: 3056.0
Total penalty cost after maintenance: 110.0
Percentage of cost saved: 96.53%
------------
SCHEDULE:

------------
ENGINE COSTS:

# Optimization Task 2

## Part B

In [7]:
spec_2b = {
    'time_horizon': 25,
    'rul_filename': 'OT1/RUL_predictions.xlsx',
    'work_time_filename': 'OT1/working_time.csv',
    'teams_filename': 'OT1/teams.csv',
    'cost_filename': 'OT1/costs.csv',
    'max_engine_filename': 'OT2/max_engine.csv'
}
run(spec_2b)

Status: Optimal
Total penalty cost before maintenance: 984.0
Total cost saved by maintenance: 691.0
Total penalty cost after maintenance: 293.0
Percentage of cost saved: 70.22%
------------
SCHEDULE:

------------
ENGINE COSTS:

## Part C

In [8]:
spec_2c = {
    'time_horizon': 25,
    'rul_filename': 'OT1/RUL_consultancy_predictions.xlsx',
    'work_time_filename': 'OT1/working_time.csv',
    'teams_filename': 'OT1/teams.csv',
    'cost_filename': 'OT1/costs.csv',
    'max_engine_filename': 'OT2/max_engine.csv'
}
run(spec_2c)

Status: Optimal
Total penalty cost before maintenance: 1037.0
Total cost saved by maintenance: 810.0
Total penalty cost after maintenance: 227.0
Percentage of cost saved: 78.11%
------------
SCHEDULE:

------------
ENGINE COSTS:

# Optimization Task 3

## Part B

In [9]:
spec_3b = {
    'time_horizon': 25,
    'rul_filename': 'OT1/RUL_predictions.xlsx',
    'work_time_filename': 'OT1/working_time.csv',
    'teams_filename': 'OT1/teams.csv',
    'cost_filename': 'OT1/costs.csv',
    'max_engine_filename': 'OT2/max_engine.csv',
    'waiting_time_filename': 'OT3/waiting_time.csv'
}
run(spec_3b)

Status: Optimal
Total penalty cost before maintenance: 984.0
Total cost saved by maintenance: 691.0
Total penalty cost after maintenance: 293.0
Percentage of cost saved: 70.22%
------------
SCHEDULE:

------------
ENGINE COSTS:

## Part C

In [10]:
spec_3c = {
    'time_horizon': 25,
    'rul_filename': 'OT1/RUL_consultancy_predictions.xlsx',
    'work_time_filename': 'OT1/working_time.csv',
    'teams_filename': 'OT1/teams.csv',
    'cost_filename': 'OT1/costs.csv',
    'max_engine_filename': 'OT2/max_engine.csv',
    'waiting_time_filename': 'OT3/waiting_time.csv'
}
run(spec_3c)

Status: Optimal
Total penalty cost before maintenance: 1037.0
Total cost saved by maintenance: 789.0
Total penalty cost after maintenance: 248.0
Percentage of cost saved: 76.08%
------------
SCHEDULE:

------------
ENGINE COSTS: